body{
	background: #FFD370;
}
.container{
	margin: 0 auto;
	max-width: 1028px;
}
.container-login{
	justify-content:space-between;
	padding: 87px 116px 0 116px;
	display: flex;

}

/* left */
.logo{
	width: 386px;
}
.logo-text .vector1,.vector2{
	position:absolute;
}
.logo-img1{
	width: 33.82px;
	height: 26.12px;
}
.logo-img2{
	width: 33.87px;
	height: 33.87px;
}
.logo-img{
	width: 386px;
	height: 386px;
}
.logo-text h1{
	font-family: 'Baloo Thambi 2';
	font-size: 32px;
	line-height: 49.15px;
	margin-left: 46px;
}

/* right */
.login-form{
	width: 304px;
	margin-top:50px;
}
.font-NSTC{
	font-family: 'Noto Sans TC';
}
.form-h2{
	font-size: 24px;
	line-height: 34.75px;
}
.remind{
	font-size: 14px;
	line-height: 20.27px;
}
.register-a{
	display: block;
	text-decoration: none;
	color: #333333;
}

/* RWD */
@media(max-width:820px){
	.rwd-container{
   	 	max-width: 375px;
	}
	.rwd-conta-login{
		padding: 0;
		margin-top: 48px;
		flex-direction: column;
		/* justify-content: center;
		align-content: center; */

	}
	.rwd-logo{
		width: 100%;
	}
	.rwd-img{
		display: none;
	}
	.rwd-login-form{
		width: 100%;
		margin-top: 21.59px;
	}

}
